$componentes-name: "c-button";

.#{$componentes-name} {
    background-color: purple;
    color: white;
    border-radius: 30px;
    display: inline-block;
    max-width: 210px;
    padding:9px 15px ;
    text-align: center;
    text-decoration: none;
    transition: all 90ms ease-in;

    &:hover{
        background-color: rgb(134, 87, 134);
        transition: all 90ms ease-out;
    }
    &:active{
        transform: translateY(2px);
    }

    &--twitter{
        background-color: rgb(160, 159, 159);

    }
    &--twitter:hover{
        background-color: lightgray;
    }
}