$componentes-name: "c-button";

.#{$componentes-name} {
    background-color: rgb(20, 108, 224);
    color: white;
    border-radius: 30px;
    display: inline-block;
    max-width: 210px;
    padding:9px 15px ;
    text-align: center;
    text-decoration: none;
    transition: all 90ms ease-in;

    &:hover{
        background-color: rgb(84, 144, 222);
        transition: all 90ms ease-out;
    }
    &:active{
        transform: translateY(2px);
    }

    &--twitter{
        background-color: whitesmoke;
        color: gray;

    }
    &--twitter:hover{
        background-color: lightgray;
    }

    &--facebook{
        background-color: whitesmoke;
        color: gray;
    }
    &--facebook:hover{
        background-color: lightgray;
    }

    
}